@charset "UTF-8";
:root {
  --color-primary: #EB2F64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-white: #FFFFFF;
  --color-grey-light-1: #FAF9F9;
  --color-grey-light-2: #F4F2f2;
  --color-grey-light-3: #F0EEEE;
  --color-grey-light-4: #CCCCCC;
  --color-grey-dark-1: #333333;
  --color-grey-dark-2: #777777;
  --color-grey-dark-3: #999999;
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-light: rgba(0, 0, 0, 0.125);
  --border: 2px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font: 400 1rem/1 "Open Sans", sans-serif;
  color: var(--color-grey-dark-2);
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
}

@-webkit-keyframes button-pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes button-pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.container {
  max-width: 75%;
  margin: 5rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 0 8rem rgba(0, 0, 0, 0.25);
}

.header {
  height: 5rem;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: stretch;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  padding-top: 2rem;
}
.menu__link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--color-white);
}
.menu__link::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  background-color: var(--color-primary);
  width: 0.25rem;
  height: 0%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: height 0.25s ease, width 0.25s ease 0.25s;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
}
.menu__link--active::before, .menu__link:hover::before, .menu__link:focus::before {
  height: 100%;
  width: 100%;
}
.menu__link:active::before {
  background-color: var(--color-primary-light);
}
.menu__link:not(:last-child) {
  margin-bottom: 0.5rem;
}
.menu__link-icon {
  position: relative;
  z-index: 2;
  height: 1rem;
  margin-right: 1rem;
}
.menu__link-icon > path {
  fill: currentColor;
}
.menu__link-text {
  position: relative;
  z-index: 2;
}
.menu__legal {
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 1rem;
}

.hotel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-white);
  flex: 0 0 80%;
}

.detail {
  background-color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex: 1 1 100%;
  padding: 3rem;
  line-height: 1.5;
}

.description {
  background-color: var(--color-white);
  flex: 0 0 60%;
  margin-right: 3rem;
  box-shadow: 0 1rem 3rem var(--shadow-light);
  padding: 1.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.review {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 1rem 3rem var(--shadow-light);
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.review__text {
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
.review__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__photo {
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.review__details {
  font-size: 0.75rem;
  margin-right: auto;
}
.review__name {
  text-transform: uppercase;
  font-weight: bold;
}
.review__rating {
  font-size: 1.5rem;
  color: var(--color-primary);
}
.review::before {
  content: "â€";
  display: block;
  position: absolute;
  top: 0rem;
  left: 0.5rem;
  font-size: 12rem;
  font-family: sans-serif;
  line-height: 1;
  color: var(--color-grey-light-3);
}

.cta {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta__text {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.cta__button:link, .cta__button:visited {
  position: relative;
  display: block;
  width: 16rem;
  height: 4rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark), var(--color-primary-light));
  background-size: 200%;
  background-position: left;
  border-radius: 2rem;
  text-transform: uppercase;
  text-align: center;
  transition: background-position 0.2s ease;
}
.cta__button:link::before, .cta__button:link::after, .cta__button:visited::before, .cta__button:visited::after {
  pointer-events: none;
  width: 100%;
  position: absolute;
  color: var(--color-white);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease;
}
.cta__button:link::before, .cta__button:visited::before {
  content: "Book now";
  top: 50%;
}
.cta__button:link::after, .cta__button:visited::after {
  content: "Only 4 rooms left!";
  top: 125%;
}
.cta__button:hover {
  background-position: right;
}
.cta__button:hover::before {
  top: -25%;
}
.cta__button:hover::after {
  top: 50%;
}

.logo {
  height: 2rem;
  margin-left: 1rem;
}

.search {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
}
.search__input {
  font: inherit;
  color: var(--color-grey-dark-1);
  background-color: var(--color-grey-light-2);
  border: none;
  outline: none;
  padding: 0 1.5em;
  border-radius: 2em;
  width: 90%;
  height: 2.5em;
  line-height: 2.5;
  transition: all 0.25s ease;
}
.search__input:focus {
  background-color: var(--color-grey-light-3);
  width: 100%;
}
.search__input::-moz-placeholder {
  color: var(--color-grey-dark-3);
}
.search__input:-ms-input-placeholder {
  color: var(--color-grey-dark-3);
}
.search__input::placeholder {
  color: var(--color-grey-dark-3);
}
.search__button {
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 50%;
  flex: 0 0 2.5rem;
  margin-left: -2.5rem;
  background-color: var(--color-grey-light-2);
}
.search__button:hover, .search__button:focus {
  cursor: pointer;
  background-color: var(--color-grey-light-3);
}
.search__button:hover .search__icon > path, .search__button:focus .search__icon > path {
  fill: var(--color-primary-dark);
}
.search__icon {
  height: 1rem;
}
.search__icon > path {
  transition: fill 0.25s ease;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}
.user-navigation > * {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}
.user-navigation > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-navigation__icon {
  height: 1rem;
}
.user-navigation__icon > path {
  fill: var(--color-grey-dark-1);
}
.user-navigation__notification {
  position: absolute;
  top: 1.25rem;
  right: 0.5rem;
  font-size: 0.5rem;
  text-align: center;
  line-height: 2;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.user-navigation__photo {
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.hotel-overview {
  display: flex;
  flex: 0 0 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}
.hotel-overview__name {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 1.5rem;
}
.hotel-overview__stars {
  margin-right: auto;
}
.hotel-overview__star {
  height: 1rem;
  fill: var(--color-primary);
}
.hotel-overview__location {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.hotel-overview__location-icon {
  height: 1rem;
  fill: var(--color-primary);
  margin-right: 0.5rem;
}
.hotel-overview__location-link {
  text-decoration: none;
  color: var(--color-primary);
  padding-bottom: 0.25rem;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.25s ease;
}
.hotel-overview__location-link:hover {
  color: var(--color-grey-dark-1);
  -webkit-animation: button-pulse 0.75s ease infinite;
          animation: button-pulse 0.75s ease infinite;
}
.hotel-overview__rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0 0.75rem;
  font-weight: 300;
}
.hotel-overview__rating-number {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.hotel-overview__rating-text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.paragraph {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.list {
  margin: 2rem 0;
  padding: 2rem 0;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  list-style: none;
  border-top: var(--border);
  border-bottom: var(--border);
}
.list__item {
  position: relative;
  margin-bottom: 0.5em;
  padding-left: 1em;
}
.list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: red;
  -webkit-mask-image: url("../img/chevron-thin-right.svg");
          mask-image: url("../img/chevron-thin-right.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
}

.recommend {
  color: var(--color-grey-light-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommend__count {
  flex: 0 0 50%;
}
.recommend__photo {
  width: 3rem;
  border-radius: 50%;
  border: 4px solid var(--color-white);
}
.recommend__photo:not(:first-child) {
  margin-left: -1.25rem;
}

.button-underline {
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.25s ease;
  flex: 1;
}
.button-underline__text {
  transition: margin-right 0.25s ease;
}
.button-underline:hover {
  color: var(--color-grey-dark-1);
}
.button-underline:hover > .button-underline__text {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyIsIi4uL3Njc3MvX2Jhc2Uuc2NzcyIsIi4uL3Njc3MvX2xheW91dC5zY3NzIiwiLi4vc2Nzcy9fY29tcG9uZW50cy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGdCQUFnQjtBQ0FoQjtFQUNJLHdCQUFBO0VBQ0EsOEJBQUE7RUFDQSw2QkFBQTtFQUNBLHNCQUFBO0VBQ0EsNkJBQUE7RUFDQSw2QkFBQTtFQUNBLDZCQUFBO0VBQ0EsNkJBQUE7RUFDQSw0QkFBQTtFQUNBLDRCQUFBO0VBQ0EsNEJBQUE7RUFDQSw2QkFBQTtFQUNBLG9DQUFBO0VBQ0EsNkNBQUE7QURFSjs7QUNDQTs7O0VBR0ksU0FBQTtFQUNBLFVBQUE7RUFDQSxtQkFBQTtBREVKOztBQ0NBO0VBQ0ksZUFBQTtBREVKOztBQ0NBO0VBQ0ksaUJBQUE7RUFDQSx3Q0FBQTtFQUNBLCtCQUFBO0VBQ0Esc0JBQUE7RUFDQSx5R0FBQTtFQUNBLHNCQUFBO0FERUo7O0FDQ0E7RUFDSTtJQUNJLG1CQUFBO0lBQ0EsZ0JBQUE7RURFTjtFQ0FFO0lBQ0ksc0JBQUE7SUFDQSw4Q0FBQTtFREVOO0VDQUU7SUFDSSxtQkFBQTtJQUNBLGdCQUFBO0VERU47QUFDRjs7QUNkQTtFQUNJO0lBQ0ksbUJBQUE7SUFDQSxnQkFBQTtFREVOO0VDQUU7SUFDSSxzQkFBQTtJQUNBLDhDQUFBO0VERU47RUNBRTtJQUNJLG1CQUFBO0lBQ0EsZ0JBQUE7RURFTjtBQUNGO0FFcERBO0VBQ0ksY0FBQTtFQUNBLGlCQUFBO0VBQ0EsMkNBQUE7RUFDQSx3Q0FBQTtBRnNESjs7QUVuREE7RUFDSSxZQUFBO0VBQ0Esb0NBQUE7RUFDQSxrREFBQTtFQUNBLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBO0FGc0RKOztBRW5EQTtFQUNJLGFBQUE7RUFDQSxvQkFBQTtBRnNESjs7QUVuREE7RUFDSSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSw4QkFBQTtFQUNBLG9CQUFBO0VBQ0EsMENBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7QUZzREo7QUVyREk7RUFDSSxrQkFBQTtFQUNBLGFBQUE7RUFDQSwyQkFBQTtFQUNBLG1CQUFBO0VBQ0EsV0FBQTtFQUNBLG9CQUFBO0VBQ0EseUJBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7QUZ1RFI7QUV0RFE7RUFDSSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxRQUFBO0VBQ0EsT0FBQTtFQUNBLDJCQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7RUFDQSxzQ0FBQTtFQUNBLGNBQUE7RUFDQSxVQUFBO0VBQ0EsbUNBQUE7VUFBQSwyQkFBQTtFQUNBLHFEQUFBO0VBQ0EsMEZBQUE7VUFBQSxrRkFBQTtBRndEWjtBRW5EWTtFQUNJLFlBQUE7RUFDQSxXQUFBO0FGcURoQjtBRWxEUTtFQUNJLDRDQUFBO0FGb0RaO0FFbERRO0VBQ0kscUJBQUE7QUZvRFo7QUVqREk7RUFDSSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7QUZtRFI7QUVsRFE7RUFDSSxrQkFBQTtBRm9EWjtBRWpESTtFQUNJLGtCQUFBO0VBQ0EsVUFBQTtBRm1EUjtBRWpESTtFQUNJLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQ0FBQTtFQUNBLGFBQUE7QUZtRFI7O0FFL0NBO0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0VBQ0EsMkJBQUE7RUFDQSxvQ0FBQTtFQUNBLGFBQUE7QUZrREo7O0FFL0NBO0VBQ0ksMkNBQUE7RUFDQSxhQUFBO0VBQ0EsOEJBQUE7RUFDQSxtQkFBQTtFQUNBLGNBQUE7RUFDQSxhQUFBO0VBQ0EsZ0JBQUE7QUZrREo7O0FFL0NBO0VBQ0ksb0NBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSwyQ0FBQTtFQUNBLGVBQUE7QUZrREo7O0FFL0NBO0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0VBQ0EsT0FBQTtBRmtESjs7QUUvQ0E7RUFDSSxrQkFBQTtFQUNBLG9DQUFBO0VBQ0EsMkNBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7QUZrREo7QUVqREk7RUFDSSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtBRm1EUjtBRWpESTtFQUNJLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBO0FGbURSO0FFakRJO0VBQ0ksWUFBQTtFQUNBLGtCQUFBO0VBQ0Esb0JBQUE7QUZtRFI7QUVqREk7RUFDSSxrQkFBQTtFQUNBLGtCQUFBO0FGbURSO0FFakRJO0VBQ0kseUJBQUE7RUFDQSxpQkFBQTtBRm1EUjtBRWpESTtFQUNJLGlCQUFBO0VBQ0EsMkJBQUE7QUZtRFI7QUVqREk7RUFDSSxZQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHVCQUFBO0VBQ0EsY0FBQTtFQUNBLGdDQUFBO0FGbURSOztBRS9DQTtFQUNJLGFBQUE7RUFDQSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSx1QkFBQTtFQUNBLG1CQUFBO0FGa0RKO0FFakRJO0VBQ0kseUJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EscUJBQUE7QUZtRFI7QUVoRFE7RUFFSSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLDhIQUFBO0VBQ0EscUJBQUE7RUFDQSx5QkFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtFQUNBLHlDQUFBO0FGaURaO0FFaERZO0VBRUksb0JBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTtFQUNBLFNBQUE7RUFDQSxnQ0FBQTtFQUNBLHlCQUFBO0FGaURoQjtBRS9DWTtFQUNJLG1CQUFBO0VBQ0EsUUFBQTtBRmlEaEI7QUUvQ1k7RUFDSSw2QkFBQTtFQUNBLFNBQUE7QUZpRGhCO0FFOUNRO0VBQ0ksMEJBQUE7QUZnRFo7QUUvQ1k7RUFDSSxTQUFBO0FGaURoQjtBRS9DWTtFQUNJLFFBQUE7QUZpRGhCOztBRzdRQTtFQUNJLFlBQUE7RUFDQSxpQkFBQTtBSGdSSjs7QUc3UUE7RUFDSSxnQkFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0FIZ1JKO0FHL1FJO0VBQ0ksYUFBQTtFQUNBLCtCQUFBO0VBQ0EsMkNBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBQ0EsMEJBQUE7QUhpUlI7QUdoUlE7RUFDSSwyQ0FBQTtFQUNBLFdBQUE7QUhrUlo7QUdoUlE7RUFDSSwrQkFBQTtBSGtSWjtBR25SUTtFQUNJLCtCQUFBO0FIa1JaO0FHblJRO0VBQ0ksK0JBQUE7QUhrUlo7QUcvUUk7RUFDSSxZQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0Esb0JBQUE7RUFDQSwyQ0FBQTtBSGlSUjtBR2hSUTtFQUVJLGVBQUE7RUFDQSwyQ0FBQTtBSGlSWjtBRzlRSTtFQUVJLCtCQUFBO0FIK1FSO0FHN1FJO0VBQ0ksWUFBQTtBSCtRUjtBRzlRUTtFQUNJLDJCQUFBO0FIZ1JaOztBRzNRQTtFQUNJLGFBQUE7RUFDQSx5QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7QUg4UUo7QUc3UUk7RUFDSSxrQkFBQTtFQUNBLGFBQUE7RUFDQSx1QkFBQTtFQUNBLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7RUFDQSxlQUFBO0FIK1FSO0FHN1FJO0VBQ0ksMkNBQUE7QUgrUVI7QUc3UUk7RUFDSSxZQUFBO0FIK1FSO0FHOVFRO0VBQ0ksOEJBQUE7QUhnUlo7QUc3UUk7RUFDSSxrQkFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLGtCQUFBO0VBQ0Esc0NBQUE7RUFDQSx5QkFBQTtBSCtRUjtBRzdRSTtFQUNJLFlBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0FIK1FSOztBRzNRQTtFQUNJLGFBQUE7QUg4UUo7QUc3UUk7RUFDSSxjQUFBO0VBQ0EsV0FBQTtBSCtRUjs7QUczUUE7RUFDSSxhQUFBO0VBQ0EsY0FBQTtFQUNBLDhCQUFBO0VBQ0EsbUJBQUE7RUFDQSw0QkFBQTtBSDhRSjtBRzdRSTtFQUNJLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSx5QkFBQTtFQUNBLHFCQUFBO0VBQ0EsaUJBQUE7QUgrUVI7QUc3UUk7RUFDSSxrQkFBQTtBSCtRUjtBRzdRSTtFQUNJLFlBQUE7RUFDQSwwQkFBQTtBSCtRUjtBRzdRSTtFQUNJLGFBQUE7RUFDQSxtQkFBQTtFQUNBLGlCQUFBO0FIK1FSO0FHN1FJO0VBQ0ksWUFBQTtFQUNBLDBCQUFBO0VBQ0Esb0JBQUE7QUgrUVI7QUc3UUk7RUFDSSxxQkFBQTtFQUNBLDJCQUFBO0VBQ0EsdUJBQUE7RUFDQSxxQ0FBQTtFQUNBLGVBQUE7RUFDQSxtQ0FBQTtVQUFBLDJCQUFBO0VBQ0EsMEJBQUE7QUgrUVI7QUc5UVE7RUFDSSwrQkFBQTtFQUNBLG1EQUFBO1VBQUEsMkNBQUE7QUhnUlo7QUc3UUk7RUFDSSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSx1QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxzQ0FBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtBSCtRUjtBRzdRSTtFQUNJLGlCQUFBO0VBQ0EscUJBQUE7QUgrUVI7QUc3UUk7RUFDSSxrQkFBQTtFQUNBLHlCQUFBO0FIK1FSOztBRzNRQTtFQUNJLGdCQUFBO0VBQ0Esb0JBQUE7QUg4UUo7O0FHM1FBO0VBQ0ksY0FBQTtFQUNBLGVBQUE7RUFDQSxvQkFBQTtPQUFBLGVBQUE7RUFDQSxxQkFBQTtPQUFBLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLDRCQUFBO0FIOFFKO0FHN1FJO0VBQ0ksa0JBQUE7RUFDQSxvQkFBQTtFQUNBLGlCQUFBO0FIK1FSO0FHOVFRO0VBQ0ksV0FBQTtFQUNBLGtCQUFBO0VBQ0EsT0FBQTtFQUNBLFdBQUE7RUFDQSxxQkFBQTtFQUNBLFVBQUE7RUFDQSxXQUFBO0VBQ0EscUJBQUE7RUFDQSx3REFBQTtVQUFBLGdEQUFBO0VBQ0EsMEJBQUE7VUFBQSxrQkFBQTtBSGdSWjs7QUd4UUE7RUFDSSxnQ0FBQTtFQUNBLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBO0FIMlFKO0FHMVFJO0VBQ0ksYUFBQTtBSDRRUjtBRzFRSTtFQUNJLFdBQUE7RUFDQSxrQkFBQTtFQUNBLG9DQUFBO0FINFFSO0FHM1FRO0VBQ0kscUJBQUE7QUg2UVo7O0FHeFFBO0VBQ0ksMkJBQUE7RUFDQSxxQ0FBQTtFQUNBLHFCQUFBO0VBQ0EsY0FBQTtFQUNBLGVBQUE7RUFDQSw0QkFBQTtFQUNBLE9BQUE7QUgyUUo7QUcxUUk7RUFDSSxtQ0FBQTtBSDRRUjtBRzFRSTtFQUNJLCtCQUFBO0FINFFSO0FHMVFJO0VBQ0ksb0JBQUE7QUg0UVIiLCJmaWxlIjoic3R5bGUucHJlZml4LmNzcyJ9 */