.logo {
    height: 2rem;
    margin-left: 1rem;
}

.search {
    display: inherit;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    &__input {
        font: inherit;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-light-2);
        border: none;
        outline: none;
        padding: 0 1.5em;
        border-radius: 2em;
        width: 90%;
        height: 2.5em;
        line-height: 2.5;
        transition: all 0.25s ease;
        &:focus {
            background-color: var(--color-grey-light-3);
            width: 100%;
        }
        &::placeholder {
            color: var(--color-grey-dark-3);
        }
    }
    &__button {
        border: none;
        outline: none;
        height: 2.5rem;
        border-radius: 50%;
        flex: 0 0 2.5rem;
        margin-left: -2.5rem;
        background-color: var(--color-grey-light-2);
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: var(--color-grey-light-3);
        }
    }
    &__button:hover &__icon>path,
    &__button:focus &__icon>path {
        fill: var(--color-primary-dark);
    }
    &__icon {
        height: 1rem;
        &>path {
            transition: fill 0.25s ease;
        }
    }
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    &>* {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        cursor: pointer;
    }
    &>*:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon {
        height: 1rem;
        &>path {
            fill: var(--color-grey-dark-1);
        }
    }
    &__notification {
        position: absolute;
        top: 1.25rem;
        right: 0.5rem;
        font-size: 0.5rem;
        text-align: center;
        line-height: 2;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    &__photo {
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.75rem;
    }
}

.gallery {
    display: flex;
    &__photo {
        display: block;
        width: 100%;
    }
}

.hotel-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-grey-light-2);
    height: 4rem;
    &__name {
        font-weight: 300;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 0 1.5rem;
    }
    &__stars {
        margin-right: auto;
    }
    &__star {
        height: 1rem;
        fill: var(--color-primary);
    }
    &__location {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
    }
    &__location-icon {
        height: 1rem;
        fill: var(--color-primary);
        margin-right: 0.5rem;
    }
    &__location-link {
        text-decoration: none;
        color: var(--color-primary);
        padding-bottom: 0.25rem;
        border-bottom: 1px solid currentColor;
        cursor: pointer;
        backface-visibility: hidden;
        transition: all 0.25s ease;
        &:hover {
            color: var(--color-grey-dark-1);
            animation: button-pulse 0.5s ease infinite;
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        }
    }
    &__rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 0 0.75rem;
        font-weight: 300;
    }
    &__rating-number {
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }
    &__rating-text {
        font-size: 0.75rem;
    }
}