.container {
    max-width: 75%;
    margin: 5rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: 0 0 8rem rgba(0, 0, 0, 0.25);
}

.header {
    height: 5rem;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    align-items: stretch;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--color-grey-dark-1);
    flex: 0 0 20%;
    padding-top: 2rem;
    &__link {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.75rem;
        color: var(--color-white);
        &::before {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            content: "";
            display: block;
            background-color: var(--color-primary);
            width: 0.25rem;
            height: 0%;
            backface-visibility: hidden;
            transition: height 0.25s ease, width 0.25s ease 0.25s;
            animation: name duration timing-function delay iteration-count direction fill-mode;
        }
        &--active,
        &:hover,
        &:focus {
            &::before {
                height: 100%;
                width: 100%;
            }
        }
        &:active::before {
            background-color: var(--color-primary-light);
        }
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &__link-icon {
        position: relative;
        z-index: 2;
        height: 1rem;
        margin-right: 1rem;
        &>path {
            fill: currentColor;
        }
    }
    &__link-text {
        position: relative;
        z-index: 2;
    }
    &__legal {
        font-size: 0.75rem;
        text-align: center;
        color: var(--color-grey-light-4);
        padding: 1rem;
    }
}

.hotel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-white);
    flex: 0 0 80%;
}

.detail {
    background-color: var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    flex: 1 1 100%;
    padding: 3rem;
    line-height: 1.5;
}

.description {
    background-color: var(--color-white);
    flex: 0 0 60%;
    margin-right: 3rem;
    box-shadow: 0 1rem 3rem var(--shadow-light);
    padding: 1.5rem;
}

.reviews {
    background-color: green;
    flex: 1;
}